workflow.json
{
  "name": "Bible Verse Daily",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -464,
        80
      ],
      "id": "4a2a958a-edd4-42f3-961a-87fe243a7227",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://bible-api.com/john%203:16",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        -160
      ],
      "id": "6abf76d8-ac9d-448d-b564-546aecb61a49",
      "name": "Get Daily Bible Verses"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const verse = item.json.verses[0];\n  return {\n    json: {\n      message: `${verse.book_name} ${verse.chapter}:${verse.verse} - ${verse.text}`\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        64
      ],
      "id": "f4e4fd98-b658-48dc-84f5-dcd096bec76a",
      "name": "Format Verse"
    },
    {
      "parameters": {
        "sendTo": "wanyagagloria43@gmail.com",
        "subject": "Bible Verse of the day",
        "message": "=<p>{{$json[\"text\"]}}</p>\n<p><strong>- {{$json[\"book\"][\"name\"]}} {{$json[\"chapter\"]}}:{{$json[\"verse\"]}}</strong></p>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        112,
        -160
      ],
      "id": "4bb1fa99-3e67-49be-a65b-ba398770377b",
      "name": "Send Email",
      "webhookId": "81bc9d2a-42dc-45b7-a991-3882fd018727",
      "credentials": {
        "gmailOAuth2": {
          "id": "d3MGf8Whtnc7jAQf",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Daily Bible Verses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Daily Bible Verses": {
      "main": [
        [
          {
            "node": "Format Verse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Verse": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e167b43d-f4ce-40fa-9b15-943a2b1495ae",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b94fe4facea61c11b789ab3e9ae42502f077268c7e4952a84961d78ac1c95355"
  },
  "id": "FVYG3p9zKcdSxqla",
  "tags": []
}